$text_color_default: #373a3c;
$text_color_title: #FFFFFF;
$text_color_accent: rgb(208, 179, 130);
$text_color_secondary: rgba(19, 24, 31, 0.6);

$text-button-default: rgba(19, 24, 31, 1);
$text-button-disabled: #2e2c2c;
$text-button-inverted: #2e2c2c;

$button-primary-default: $text_color_accent;
$button-primary-hover-pressed: #cfb47de9;
$button-primary-disabled: #2e2c2c;

$button-secondary-default: rgba(255, 255, 255, 0.249);
$button-secondary-hover-pressed: rgba(255, 255, 255, 0.3);
$button-secondary-disabled: #2e2c2c;

$button-border-color: rgb(202, 202, 202);
$button-tertiary-hover-pessed: #524f4e;

$bg_color_accent: rgb(208, 179, 130);
$bg_color_default: #FFFFFF;
$bg_color_secondary: rgb(17, 30, 46);
$bg_color_info: #f2f2f2;
$form-bg-color: #f9f9f9;
$bg_app: rgba(19, 24, 31, 1);

$header: 68px;

$card-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
$img-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
$img-shadow-hover: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;

$border-radius-secondary: 5px;

$screen-xs-min: 360px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 1168px;

$screen-xlg-min: 1280px;

// Large tablets and desktops
$screen-xl-min: 1900px;

// Extra small devices
@mixin xs {
  @media (min-width: #{$screen-xs-min}) {
    @content;
  }
}

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

@mixin xlg {
  @media (min-width: #{$screen-xlg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// Media with height
@mixin hsm {
  @media (min-width: #{$screen-sm-min}) and (min-height: 600px) {
    @content;
  }
}

@mixin hmd {
  @media (min-width: #{$screen-md-min}) and (min-height: 400px) {
    @content;
  }
}

@mixin hlg {
  @media (min-width: #{$screen-lg-min}) and (min-height: 800px) {
    @content;
  }
}

@mixin hxl {
  @media (min-width: #{$screen-xl-min}) and (min-height: 1288px) {
    @content;
  }
}